html, body{
   min-height: 100%;
}


body{
    background-color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
}
/*
header{
    background-color: red;
}

nav{
height: 50px;
}
*/
#logo{
    padding-top: 0px;
}
 
header{
display: flex;
background-color: black;
justify-content: left;
text-transform: uppercase;
padding-top: 15px;

}

header a {
    color: white;
}

#baner{
    background-color: red ;
}
.odkazy{
    list-style-type: none ;
    padding-left: 10pxpx;
}

.odkazy li{
    display: inline-block;
    padding: 0px 20px;
}
form{
    padding-top: 15px;
}

.telo{
    padding: 10px;
    background-color: red;
}

form td{
    min-width: 200px;

}

#footer{
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    position: relative;
    margin-bottom: 0px;
    justify-content: end;
}

a{
    text-decoration: none;
}

.nav-vybrany{
    border: none;
    padding: 10px 10px;
    background-color: 	white;
    
    border-radius: 20px;
}
/*
.table>:not(caption)>*>*{
    background-color: red;
}


.table-dark{
    --bs-table-bg: black;
}*/
.nav-vybrany a{
    color: black !important;
}



th { 
    position: sticky; 
    top: 0; 
    background-color: red;
 }